.chat_main
  .chat_main__top
    .chat_main__top__left
      %h2.chat_main__top__left--group テスト
      %ul.chat_main__top__left--list テスト:テスト
      %li.member
    .chat_main__top--edit
      .chat_main__top--edit--btn
        = link_to "Edit","#"

  .chat_main__middle
    .chat_main__middle__message
      .chat_main__middle__message__info
        %p.chat_main__middle__message__info--name テスト
        %p.chat_main__middle__message__info--date 2019/12/6(Fri) 00:00:00
      %p.chat_main__middle__message--text
          .chat_main__middle__message__text--content
    .chat_main__middle__message
      .chat_main__middle__message__info
        %p.chat_main__middle__message__info--name テスト
        %p.chat_main__middle__message__info--date 2019/12/6(Fri) 00:00:00
      %p.chat_main__middle__message--text テスト

  .chat_main__bottom
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat_main__bottom__message', placeholder: 'type a message'
      .chat_main__bottom__message__box
        = f.label :image, class: 'chat_main__bottom__message__box--text' do
          = icon('fa', 'image')
          = f.file_field :image, class: 'input'
      = f.submit 'Send', class: 'chat_main__bottom__message--send_btn'
      
  .chat_main__bottom
    %form.chat_main__bottom__message
      .chat_main__bottom__message__box
        .chat_main__bottom__message__box--text type a message
        %label{class: "image_btn"}
          = icon('fas', 'image')
          %input{type: "file"}
      .chat_main__bottom__message--send_btn Send