.main_chat
  .main_header
    .left-header
      .left-header__title
        = @group.name
      .left-header__members
        Member:
        .member
        - @group.users.each do|user|
          = user.name
    .right-header
      .right-header__btn
        = link_to edit_group_path(@group) do
          Edit
          
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__box
        = f.label :image, class: 'form__box--image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'send_btn'
      = f.submit 'Send', class: 'form__submit'