.side_bar
  .side_bar__top
    %h3.side_bar__top--name
      = current_user.name
    %ul.side_bar__top__menu
      %li.menu_btn
        = link_to new_group_path do
          = icon('fas', 'edit', class: 'icon')
      %li.menu_btn
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
    
  .side_bar__bottom
    - current_user.groups.each do |group|
      .side_bar__bottom__groups
        = link_to group_messages_path(group) do
          .side_bar__bottom__groups--name
            = group.name
          .side_bar__bottom__groups--message
            ここ